.git
.github
node_modules
packages/frontend/src
packages/frontend/public
packages/frontend/node_modules
packages/backend/src
packages/backend/node_modules
packages/server/dist
packages/shared/dist
build
pics
pics.zip
*.md
.DS_Store
.vscode
.env*
.notes.md
.yarn/install-state.gz
